@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model string
@{
	const string ADMIN = "Admin";
	const string FREELANCER = "Freelancer";
	const string CLIENT = "Client";
}

@if (Model == ADMIN)
{
	<ul class="navbar-nav">
		<li class="menu-item-has-children page_item_has_children">
			<a href="javascript:void(0);">Main</a>
			<ul class="sub-menu">
				<li class="menu-item-has-children page_item_has_children">
					<span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
					<a href="javascript:void(0);">Job Posted</a>
					<ul class="sub-menu">
						<li><a asp-page="/Posts/Index">Posted Grid View</a></li>
						<li><a href="#">Article List (developing)</a></li>
						<li><a href="#">Article Classic (developing)</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children page_item_has_children">
					<span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
					<a href="javascript:void(0);">Freelancer Services</a>
					<ul class="sub-menu">
						<li><a asp-page="/Services/Index">View all Services</a></li>
					</ul>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="privacypolicy.html">Privacy Policy</a>
				</li>
				<li>
					<a href="comingsoon.html">Coming Soon</a>
				</li>
				<li>
					<a href="404page.html">404page</a>
				</li>
			</ul>
		</li>
		<li class="nav-item">
			<a href="howitworks.html">How It Works</a>
		</li>
		<li class="menu-item-has-children page_item_has_children">
			<a href="javascript:void(0);">Browse Jobs</a>
			<ul class="sub-menu">
				<li>
					<a href="joblisting.html">My Services</a>
				</li>
				<li class="current-menu-item">
					<a href="jobsingle.html">My Jobs</a>
				</li>
				<li>
					<a href="jobproposal.html">Job Proposal</a>
				</li>
			</ul>
		</li>
		<li class="menu-item-has-children page_item_has_children">
			<a href="javascript:void(0);">Views</a>
			<ul class="sub-menu">
				<li>
					<a href="userlisting.html">Top Freelancers</a>
				</li>
				<li class="current-menu-item">
					<a href="usersingle.html">Top Projects</a>
				</li>
			</ul>
		</li>
	</ul>
}
else if (Model == FREELANCER)
{
	<ul class="navbar-nav">
		<li class="menu-item-has-children page_item_has_children">
			<a href="javascript:void(0);">Main</a>
			<ul class="sub-menu">
				<li class="menu-item-has-children page_item_has_children">
					<span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
					<a href="javascript:void(0);">Job Posted</a>
					<ul class="sub-menu">
						<li><a asp-page="/Posts/Index">Posted Grid View</a></li>
						<li><a href="#">Article List (developing)</a></li>
						<li><a href="#">Article Classic (developing)</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children page_item_has_children">
					<span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
					<a href="javascript:void(0);">Freelancer Services</a>
					<ul class="sub-menu">
						<li><a asp-page="/Services/Index">View all Services</a></li>
					</ul>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="privacypolicy.html">Privacy Policy</a>
				</li>
				<li>
					<a href="comingsoon.html">Coming Soon</a>
				</li>
				<li>
					<a href="404page.html">404page</a>
				</li>
			</ul>
		</li>
		<li class="nav-item">
			<a href="howitworks.html">How It Works</a>
		</li>
		<li class="menu-item-has-children page_item_has_children">
			<a href="javascript:void(0);">Manage Jobs</a>
			<ul class="sub-menu">
				<li>
					<a asp-page="/Services/Freelancers/Index">My Services</a>
				</li>
				<li class="current-menu-item">
					<a asp-page="/WorkSpaces/Freelancers/Index">My Workspace</a>
				</li>
				<li>
					<a asp-page="/Proposals/Freelancers/Index">My Proposal</a>
				</li>
				<li>
					<a asp-page="/Offers/Freelancers/Index">View Clients Offer</a>
				</li>
			</ul>
		</li>
		<li class="menu-item-has-children page_item_has_children">
			<a href="javascript:void(0);">Discover</a>
			<ul class="sub-menu">
				<li>
					<a href="userlisting.html">Top Clients Posts</a>
				</li>
				<li class="current-menu-item">
					<a href="usersingle.html">Top Projects</a>
				</li>
			</ul>
		</li>
	</ul>
}
else if (Model == CLIENT)
{
	<ul class="navbar-nav">
		<li class="menu-item-has-children page_item_has_children">
			<a href="javascript:void(0);">Main</a>
			<ul class="sub-menu">
				<li class="menu-item-has-children page_item_has_children">
					<span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
					<a href="javascript:void(0);">Job Posted</a>
					<ul class="sub-menu">
						<li><a asp-page="/Posts/Index">Posted Grid View</a></li>
						<li><a href="#">Article List (developing)</a></li>
						<li><a href="#">Article Classic (developing)</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children page_item_has_children">
					<span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
					<a href="javascript:void(0);">Freelancer Services</a>
					<ul class="sub-menu">
						<li><a href="companygrid.html">Company Grid</a></li>
						<li><a href="companysigle.html">Company Sigle</a></li>
					</ul>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="privacypolicy.html">Privacy Policy</a>
				</li>
				<li>
					<a href="comingsoon.html">Coming Soon</a>
				</li>
				<li>
					<a href="404page.html">404page</a>
				</li>
			</ul>
		</li>
		<li class="nav-item">
			<a href="howitworks.html">How It Works</a>
		</li>
		<li class="menu-item-has-children page_item_has_children">
			<a href="javascript:void(0);">Browse Jobs</a>
			<ul class="sub-menu">
				<li>
					<a href="joblisting.html">My Services</a>
				</li>
				<li class="current-menu-item">
					<a href="jobsingle.html">My Jobs</a>
				</li>
				<li>
					<a href="jobproposal.html">Job Proposal</a>
				</li>
			</ul>
		</li>
		<li class="menu-item-has-children page_item_has_children">
			<a href="javascript:void(0);">Views</a>
			<ul class="sub-menu">
				<li>
					<a href="userlisting.html">Top Freelancers</a>
				</li>
				<li class="current-menu-item">
					<a href="usersingle.html">Top Projects</a>
				</li>
			</ul>
		</li>
	</ul>
}
else {
	<ul class="navbar-nav">
		<li class="menu-item-has-children page_item_has_children">
			<a href="javascript:void(0);">Main</a>
			<ul class="sub-menu">
				<li class="menu-item-has-children page_item_has_children">
					<span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
					<a href="javascript:void(0);">Job Posted</a>
					<ul class="sub-menu">
						<li><a asp-page="/Posts/Index">Posted Grid View</a></li>
						<li><a href="#">Article List (developing)</a></li>
						<li><a href="#">Article Classic (developing)</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children page_item_has_children">
					<span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
					<a href="javascript:void(0);">Freelancer Services</a>
					<ul class="sub-menu">
						<li><a asp-page="/Services/Index">View all Services</a></li>
					</ul>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="privacypolicy.html">Privacy Policy</a>
				</li>
				<li>
					<a href="comingsoon.html">Coming Soon</a>
				</li>
				<li>
					<a href="404page.html">404page</a>
				</li>
			</ul>
		</li>
		<li class="nav-item">
			<a href="howitworks.html">How It Works</a>
		</li>
		<li class="menu-item-has-children page_item_has_children">
			<a href="javascript:void(0);">Browse Jobs</a>
			<ul class="sub-menu">
				<li>
					<a href="joblisting.html">My Services</a>
				</li>
				<li class="current-menu-item">
					<a href="jobsingle.html">My Jobs</a>
				</li>
				<li>
					<a href="jobproposal.html">Job Proposal</a>
				</li>
			</ul>
		</li>
		<li class="menu-item-has-children page_item_has_children">
			<a href="javascript:void(0);">Views</a>
			<ul class="sub-menu">
				<li>
					<a href="userlisting.html">Top Freelancers</a>
				</li>
				<li class="current-menu-item">
					<a href="usersingle.html">Top Projects</a>
				</li>
			</ul>
		</li>
	</ul>
}