@page
@using Eravol.WebApi.Data.Models;
@model Eravol.UIClient.Pages.Posts.IndexModel

@{
	List<Category> Categories = Model.Categories;
}

<!--Inner Home Banner Start-->
<div class="wt-haslayout wt-innerbannerholder">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
				<div class="wt-innerbannercontent">
					<div class="wt-title"><h2>Popular Jobs</h2></div>
					<ol class="wt-breadcrumb">
						<li><a href="index-2.html">Home</a></li>
						<li class="wt-active">Posts</li>
						<li class="wt-active">Public</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Inner Home End-->

<div class="wt-categoriesslider-holder wt-haslayout">
	<div class="wt-title">
		<h2>Job Categories:</h2>
	</div>
	<div id="wt-categoriesslider" class="wt-categoriesslider owl-carousel owl-loaded owl-drag">
		@foreach (var category in Categories)
		{
			<div class="wt-categoryslidercontent item">
				<figure><img src=@($"https://localhost:7259/api/Images/{category.CategoryImage}") alt="image description"></figure>
			<div class="wt-cattitle">
				<h3><a href="javascrip:void(0);">@category.CategoryName</a></h3>
				<span>Items: 421,305</span>
			</div>
		</div>
		}
    </div>
</div>

<!--Main Start-->
<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
	<div class="wt-haslayout wt-main-section">
		<!-- User Listing Start-->
		<div class="wt-haslayout">
			<div class="container">
				<div class="row">
					<div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
						<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left">
							<aside id="wt-sidebar" class="wt-sidebar">
								<div class="wt-widget wt-effectiveholder">
									<div class="wt-widgettitle">
										<h2>Search Service</h2>
									</div>
									<div class="wt-widgetcontent">
										<div class="wt-formtheme wt-formsearch">
											<fieldset>
												<div class="form-group">
													<input type="text" id="postSearch_Js" name="serviceSearch" class="form-control" placeholder="Search Name or Description">
												</div>
											</fieldset>
										</div>
									</div>
								</div>

								<div class="wt-widget wt-effectiveholder">
									<div class="wt-widgettitle">
										<h2>Categories</h2>
									</div>
									<div class="wt-widgetcontent">
										<div class="wt-formtheme wt-formsearch">
											<fieldset>
												<div class="form-group">
													<input type="text" id="categorySearch_Js" name="categorySearch" class="form-control" placeholder="Search Category">
												</div>
											</fieldset>
											<fieldset>
												<div class="wt-checkboxholder wt-verticalscrollbar" id="category-container">

												</div>
											</fieldset>
										</div>
									</div>
								</div>

								<div class="wt-widget wt-effectiveholder">
									<div class="wt-widgettitle">
										<h2>Project Budget</h2>
									</div>
									<div class="wt-widgetcontent">
										<form class="wt-formtheme wt-formsearch">
											<fieldset>
												<div class="wt-checkboxholder">
													<div id="wt-productrangeslider" class="wt-productrangeslider wt-themerangeslider"></div>
													<div class="wt-amountbox">
														<input type="text" id="wt-consultationfeeamount" readonly>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>

								<div class="wt-widget wt-effectiveholder">
									<div class="wt-widgettitle">
										<h2>Skill Require</h2>
									</div>
									<div class="wt-widgetcontent">
										<div class="wt-formtheme wt-formsearch">
											<fieldset>
												<div class="form-group">
													<input type="text" id="skillSearch_Js" name="skillSearch" class="form-control" placeholder="Search Skill">
												</div>
											</fieldset>
											<fieldset>
												<div class="wt-checkboxholder wt-verticalscrollbar" id="post-skill_Js">
												</div>
											</fieldset>
										</div>
									</div>
								</div>
                            </aside>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
                            <div class="wt-userlistingholder wt-haslayout">
								<div class="wt-userlistingtitle" id="span-total_result">
								</div>
								<div class="wt-filterholder">
									<ul class="wt-filtertag" id="category-filtertag">	
									</ul>
									<ul class="wt-filtertag" id="skill-filtertag">
									</ul>
								</div>
								<div id="posts-container">
								</div>
								<nav class="wt-pagination">
									<ul id="nav-paging_index">
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- User Listing End-->
	</div>
</main>
<!--Main End-->
@section scripts{
	<script src="~/js/posts/publicpostpagingscript.js"></script>
}

