@page
@using Eravol.WebApi.Data.Models;
@model Eravol.UIClient.Pages.Categories.Admin.IndexModel
@{
	List<Category>? Categories = Model.PagingRequest.Items;

}

<head>
	<link rel="stylesheet" href="~/css/themify-icons.css">
	<link rel="stylesheet" href="~/css/basictable.css">
	<link rel="stylesheet" href="~/css/dashboard.css">
	<link rel="stylesheet" href="~/css/dbresponsive.css">
	<script src="~/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>


<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout">
	<!--Sidebar Start-->
	@await Component.InvokeAsync("DashboardSideBarComponent")
	<!--Sidebar Start-->
	<!--Register Form Start-->
	<section class="wt-haslayout wt-dbsectionspace">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 float-left">
				<div class="wt-dashboardbox">
					<div class="wt-dashboardboxtitle">
						<h2>Add New Category</h2>
					</div>
					<div class="wt-dashboardboxcontent">
						<form class="wt-formtheme wt-formprojectinfo wt-formcategory">
							<fieldset>
								<div class="form-group">
									<input type="text" name="Name" class="form-control" placeholder="Name">
									<span class="form-group-description">Dolore magna aliqua enim adminim</span>
								</div>
								<div class="form-group">
									<span class="wt-select">
										<select>
											<option value="" disabled="">Select parent Category</option>
											<option value="">Category 1</option>
											<option value="">Category 2</option>
										</select>
									</span>
									<span class="form-group-description">Elit sed do eiusmod tempor incididunt ut labore</span>
								</div>
								<div class="form-group">
									<textarea name="message" class="form-control" placeholder="Description"></textarea>
									<span class="form-group-description">Veniam quis nostrud exercitation</span>
								</div>
								<div class="form-group form-group-label">
									<div class="wt-labelgroup">
										<label for="file">
											<span class="wt-btn">Select Files</span>
											<input type="file" name="file" id="file">
										</label>
										<span>Drop files here to upload</span>
										<em class="wt-fileuploading">Uploading<i class="fa fa-spinner fa-spin"></i></em>
									</div>
								</div>
								<div class="form-group">
									<ul class="wt-attachfile">
										<li class="wt-uploading">
											<span class="uploadprogressbar"></span>
											<span>Category Icon.jpg</span>
											<em>File size: 300 kb<a href="javascript:void(0);" class="lnr lnr-cross"></a></em>
										</li>
									</ul>
								</div>
								<div class="form-group wt-btnarea">
									<a href="javascript:void(0);" class="wt-btn">Add New Category</a>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 float-right">
				<div class="wt-dashboardbox wt-categorys">
					<div class="wt-dashboardboxtitle wt-titlewithsearch">
						<h2>Category</h2>
						<form class="wt-formtheme wt-formsearch">
							<fieldset>
								<div class="form-group">
									<input type="text" name="category" class="form-control" placeholder="Search Category">
									<a href="javascrip:void(0);" class="wt-searchgbtn"><i class="lnr lnr-magnifier"></i></a>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="wt-dashboardboxcontent wt-categoriescontentholder">
						<table class="wt-tablecategories">
							<thead>
								<tr>
									<th>
										<span class="wt-checkbox">
											<input id="wt-name" type="checkbox" name="head">
											<label for="wt-name"></label>
										</span>
									</th>
									<th>Icon</th>
									<th>Name</th>
									<th>Description</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
                                @if (Categories != null)
                                {
									@foreach (var item in Categories)
									{
										<tr>
											<td>
												<span class="wt-checkbox">
													<input id="wt-namea-@item.CategoryId" type="checkbox" name="head">
													<label for="wt-namea-@item.CategoryId"></label>
												</span>
											</td>
											<td><figure><img src="~/images/categories/img-09.png" alt="img description"></figure></td>
											<td>@item.CategoryName</td>
											<td>@item.CategoryDesc</td>
											<td>
												<div class="wt-actionbtn">
													<a href="javascript:void(0);" class="wt-addinfo wt-skillsaddinfo"><i class="lnr lnr-pencil"></i></a>
													<a href="javascript:void(0);" class="wt-deleteinfo"><i class="lnr lnr-trash"></i></a>
												</div>
											</td>
										</tr>
									}
                                }
								
							</tbody>
						</table>
						<nav class="wt-pagination">
							<ul>
								<li class="wt-prevpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-left"></i></a></li>
								<li><a href="javascrip:void(0);">1</a></li>
								<li><a href="javascrip:void(0);">2</a></li>
								<li><a href="javascrip:void(0);">3</a></li>
								<li><a href="javascrip:void(0);">4</a></li>
								<li><a href="javascrip:void(0);">...</a></li>
								<li><a href="javascrip:void(0);">50</a></li>
								<li class="wt-nextpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Register Form End-->
</main>
<!--Main End-->	