<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BootStrap HTML5 CSS3 Theme</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/scrollbar.css">
    <link rel="stylesheet" href="~/css/fontawesome/fontawesome-all.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/tipso.css">
    <link rel="stylesheet" href="~/css/chosen.css">
    <link rel="stylesheet" href="~/css/prettyPhoto.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/color.css">
    <link rel="stylesheet" href="~/css/transitions.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    
</head>
<body>

    <div id="wt-wrapper" class="wt-wrapper wt-haslayout">
        <!-- Content Wrapper Start -->
        <div class="wt-contentwrapper">
			<!-- Header Start -->
            @await Component.InvokeAsync("HeaderComponent")
			<!--Header End-->
            <!--Main Start-->
            @RenderBody()
			<!--Main End-->
        </div>
    </div>

    <script src="~/js/vendor/jquery-3.3.1.js"></script>
    <script src="~/js/vendor/jquery-library.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script src="~/js/scrollbar.min.js"></script>
    <script src="~/js/tilt.jquery.js"></script>
    <script src="~/js/prettyPhoto.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/readmore.js"></script>
    <script src="~/js/countTo.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/tipso.js"></script>
    <script src="~/js/jRate.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/authentication/loginscript.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

