<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BootStrap HTML5 CSS3 Theme</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/scrollbar.css">
    <link rel="stylesheet" href="~/css/fontawesome/fontawesome-all.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/tipso.css">
    <link rel="stylesheet" href="~/css/chosen.css">
    <link rel="stylesheet" href="~/css/prettyPhoto.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/color.css">
    <link rel="stylesheet" href="~/css/transitions.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    
</head>
<body>

    <div id="wt-wrapper" class="wt-wrapper wt-haslayout">
        <!-- Content Wrapper Start -->
        <div class="wt-contentwrapper">
            <!-- Header Start -->
            <header id="wt-header" class="wt-header wt-haslayout">
                <div class="wt-navigationarea">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <strong class="wt-logo"><a asp-page="/Index"><img src="~/images/logo.png" alt="company logo here"></a></strong>
                                <div class="wt-rightarea">
                                    <nav id="wt-nav" class="wt-nav navbar-expand-lg">
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                            <i class="lnr lnr-menu"></i>
                                        </button>
                                        <div class="collapse navbar-collapse wt-navigation" id="navbarNav">
                                            <ul class="navbar-nav">
                                                <li class="menu-item-has-children page_item_has_children">
                                                    <a href="javascript:void(0);">Main</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item-has-children page_item_has_children">
                                                            <span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
                                                            <a href="javascript:void(0);">Job Posted</a>
                                                            <ul class="sub-menu">
                                                                <li><a asp-page="/Posts/Index">Posted Grid View</a></li>
                                                                <li><a href="#">Article List (developing)</a></li>
                                                                <li><a href="#">Article Classic (developing)</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="menu-item-has-children page_item_has_children">
                                                            <span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
                                                            <a href="javascript:void(0);">Freelancer Services</a>
                                                            <ul class="sub-menu">
                                                                <li><a href="companygrid.html">Company Grid</a></li>
                                                                <li><a href="companysigle.html">Company Sigle</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="about.html">About</a>
                                                        </li>
                                                        <li>
                                                            <a href="privacypolicy.html">Privacy Policy</a>
                                                        </li>
                                                        <li>
                                                            <a href="comingsoon.html">Coming Soon</a>
                                                        </li>
                                                        <li>
                                                            <a href="404page.html">404page</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="howitworks.html">How It Works</a>
                                                </li>
                                                <li class="menu-item-has-children page_item_has_children">
                                                    <a href="javascript:void(0);">Browse Jobs</a>
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <a href="joblisting.html">My Services</a>
                                                        </li>
                                                        <li class="current-menu-item">
                                                            <a href="jobsingle.html">My Jobs</a>
                                                        </li>
                                                        <li>
                                                            <a href="jobproposal.html">Job Proposal</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children page_item_has_children">
                                                    <a href="javascript:void(0);">Views</a>
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <a href="userlisting.html">Top Freelancers</a>
                                                        </li>
                                                        <li class="current-menu-item">
                                                            <a href="usersingle.html">Top Projects</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                    <div class="wt-loginarea">
                                        <figure class="wt-userimg">
                                            <img src="~/images/user-login.png" alt="img description">
                                        </figure>
                                        <div class="wt-loginoption">
                                            <a href="javascript:void(0);" id="wt-loginbtn" class="wt-loginbtn">Login</a>
                                            <div class="wt-loginformhold">
                                                <div class="wt-loginheader">
                                                    <span>Login</span>
                                                    <a href="javascript:;"><i class="fa fa-times"></i></a>
                                                </div>
                                                <form class="wt-formtheme wt-loginform do-login-form">
                                                    <fieldset>
                                                        <div class="form-group">
                                                            <input type="text" name="username" class="form-control js-login__username" placeholder="Username">
                                                            <span class="login-checkmark-username"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" name="password" class="form-control js-login__password" placeholder="Password">
                                                            <span class="login-checkmark-password"></span>
                                                        </div>
                                                        <div class="wt-logininfo">
                                                            <a href="javascript:;" class="wt-btn do-login-button" id="js-btn-login">Login</a>
                                                            <span class="wt-checkbox">
                                                                <input id="wt-login" type="checkbox" name="rememberme">
                                                                <label for="wt-login">Keep me logged in</label>
                                                            </span>
                                                        </div>
                                                    </fieldset>
                                                    <div class="wt-loginfooterinfo">
                                                        <a href="javascript:;" class="wt-forgot-password">Forgot password?</a>
                                                        <a href="register.html">Create account</a>
                                                    </div>
                                                </form>
                                                <form class="wt-formtheme wt-loginform do-forgot-password-form wt-hide-form">
                                                    <fieldset>
                                                        <div class="form-group">
                                                            <input type="email" name="email" class="form-control get_password" placeholder="Email">
                                                        </div>

                                                        <div class="wt-logininfo">
                                                            <a href="javascript:;" class="wt-btn do-get-password">Get Pasword</a>
                                                        </div>
                                                    </fieldset>
                                                    <div class="wt-loginfooterinfo">
                                                        <a href="javascript:void(0);" class="wt-show-login">Login</a>
                                                        <a href="register.html">Create account</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <a href="/user/register" class="wt-btn">Join Now</a>
                                    </div>
                                    <div class="wt-userlogedin">
                                        <figure class="wt-userimg">
                                            <img class="logged-img" src="~/images/user-img.jpg" alt="image description">
                                        </figure>
                                        <div class="wt-username">
                                            <h3 class="logged-fullname">Louanne Mattioli</h3>
                                            <span class="logged-username">Amento Tech</span>
                                        </div>
                                        @await Component.InvokeAsync("UserNavComponent")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!--Header End-->

            <!--Main Start-->
            @RenderBody()
			<!--Main End-->
        </div>
    </div>

    <script src="~/js/vendor/jquery-3.3.1.js"></script>
    <script src="~/js/vendor/jquery-library.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script src="~/js/scrollbar.min.js"></script>
    <script src="~/js/tilt.jquery.js"></script>
    <script src="~/js/prettyPhoto.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/readmore.js"></script>
    <script src="~/js/countTo.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/tipso.js"></script>
    <script src="~/js/jRate.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/authentication/loginscript.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

