@page
@model Eravol.UIClient.Pages.Services.IndexModel
@{
}

<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
	<div class="wt-haslayout wt-main-section">
		<!-- User Listing Start-->
		<div class="wt-haslayout">
			<div class="container">
				<div class="row">
					<div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
						<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left">
							<aside id="wt-sidebar" class="wt-sidebar">
								<div class="wt-widget wt-effectiveholder">
									<div class="wt-widgettitle">
										<h2>Search Service</h2>
									</div>
									<div class="wt-widgetcontent">
										<div class="wt-formtheme wt-formsearch">
											<fieldset>
												<div class="form-group">
													<input type="text" id="serviceSearch_Js" name="serviceSearch" class="form-control" placeholder="Search Name or Description">
												</div>
											</fieldset>

										</div>
									</div>
								</div>

								<div class="wt-widget wt-effectiveholder">
									<div class="wt-widgettitle">
										<h2>Categories</h2>
									</div>
									<div class="wt-widgetcontent">
										<div class="wt-formtheme wt-formsearch">
											<fieldset>
												<div class="form-group">
													<input type="text" id="categorySearch_Js" name="categorySearch" class="form-control" placeholder="Search Category">
												</div>
											</fieldset>
											<fieldset>
												<div class="wt-checkboxholder wt-verticalscrollbar" id="category-container">
													
												</div>
											</fieldset>
										</div>
									</div>
								</div>
								
								<div class="wt-widget wt-effectiveholder">
									<div class="wt-widgettitle">
										<h2>Project Type</h2>
									</div>
									<div class="wt-widgetcontent">
										<form class="wt-formtheme wt-formsearch">
											<fieldset>
												<div class="wt-checkboxholder">
													<span class="wt-radio">
														<input id="anyType" type="radio" name="serviceType" value="anyType" checked>
														<label for="anyType"> Any Project Type</label>
													</span>
													<span class="wt-radio">
														<input id="hourly" type="radio" name="serviceType" value="hourly">
														<label for="hourly"> Hourly Based Project</label>
													</span>
													<div id="wt-productrangeslider" class="wt-productrangeslider wt-themerangeslider"></div>
													<div class="wt-amountbox">
														<input type="text" id="wt-consultationfeeamount" readonly>
													</div>
													<span class="wt-radio">
														<input id="fixed" type="radio" name="serviceType" value="fixed">
														<label for="fixed"> Fixed Price Project</label>
													</span>
												</div>
											</fieldset>
										</form>
									</div>
								</div>
								
								<div class="wt-widget wt-effectiveholder">
									<div class="wt-widgettitle">
										<h2>Service status</h2>
									</div>
									<div class="wt-widgetcontent">
										<div class="wt-formtheme wt-formsearch">
											<fieldset>
												<div class="wt-checkboxholder" id="service-status_Js">
													
												</div>
											</fieldset>
										</div>
									</div>
								</div>
								
								<div class="wt-widget wt-effectiveholder">
									<div class="wt-widgetcontent">
										<div class="wt-applyfilters">
											<span>Click “Apply Filter” to apply latest<br> changes made by you.</span>
											<a href="javascript:void(0);" class="wt-btn">Apply Filters</a>
										</div>
									</div>
								</div>
							</aside>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
							<div class="wt-userlistingholder wt-haslayout">
								<div class="wt-userlistingtitle">
									<span>01 - 48 of 57143 results for <em>"PHP Developer"</em></span>
								</div>
								<div class="wt-filterholder">
									<ul class="wt-filtertag" id="category-filtertag">	
									</ul>
									
									<ul class="wt-filtertag" id="status-filtertag">
										
									</ul>
								</div>
								<div class="wt-userlistinghold wt-featured wt-userlistingholdvtwo">
									<span class="wt-featuredtag"><img src="~/images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
									<div class="wt-userlistingcontent">
										<div class="wt-contenthead">
											<div class="wt-title">
												<a href="usersingle.html"><i class="fa fa-check-circle"></i> Light Bulb Association</a>
												<h2>I want some customization and installation</h2>
											</div>
											<div class="wt-description">
												<p>Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit inati voluptate velit esse cillum dolore eutates fugiat nulla pariatur sunt in culpa asequi officia deserunt mollit anim id est laborum ut perspiciatis...</p>
											</div>
											<div class="wt-tag wt-widgettag">
												<a href="javascript:void(0);">PHP</a>
												<a href="javascript:void(0);">HTML</a>
												<a href="javascript:void(0);">JQuery</a>
											</div>
										</div>
										<div class="wt-viewjobholder">
											<ul>
												<li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Professional</span></li>
												<li><span><em><img src="~/images/flag/img-04.png" alt="img description"></em>England</span></li>
												<li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: Per Hour</span></li>
												<li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: 03 Months</span></li>
												<li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: gy3yV2Vm5u</span></li>
												<li><a href="javascript:void(0);" class="wt-clicklike wt-clicksave"><i class="fa fa-heart"></i> Save</a></li>
												<li class="wt-btnarea"><a href="userlisting.html" class="wt-btn">View Job</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="wt-userlistinghold wt-featured wt-userlistingholdvtwo">
									<span class="wt-featuredtag wt-featuredtagcolor1"><img src="~/images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
									<div class="wt-userlistingcontent">
										<div class="wt-contenthead">
											<div class="wt-title">
												<a href="usersingle.html"><i class="fa fa-check-circle"></i> Point Trend Studio</a>
												<h2>Website changes in HTML &amp; PHP</h2>
											</div>
											<div class="wt-description">
												<p>Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit inati voluptate velit esse cillum dolore eutates fugiat nulla pariatur sunt in culpa asequi officia deserunt mollit anim id est laborum ut perspiciatis...</p>
											</div>
											<div class="wt-tag wt-widgettag">
												<a href="javascript:void(0);">PHP</a>
												<a href="javascript:void(0);">HTML</a>
												<a href="javascript:void(0);">Team Management</a>
												<a href="javascript:void(0);">JQuery</a>
											</div>
										</div>
										<div class="wt-viewjobholder">
											<ul>
												<li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Professional</span></li>
												<li><span><em><img src="~/images/flag/img-02.png" alt="img description"></em>United States</span></li>
												<li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: Per Fixed</span></li>
												<li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: 15 Days</span></li>
												<li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: 5aUQgM2ZbW</span></li>
												<li><a href="javascript:void(0);" class="wt-clicklike"><i class="fa fa-heart"></i> Click to Save</a></li>
												<li class="wt-btnarea"><a href="userlisting.html" class="wt-btn">View Job</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="wt-userlistinghold wt-featured wt-userlistingholdvtwo">
									<span class="wt-featuredtag wt-featuredtagcolor2"><img src="~/images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
									<div class="wt-userlistingcontent">
										<div class="wt-contenthead">
											<div class="wt-title">
												<a href="usersingle.html"><i class="fa fa-check-circle"></i> Vertex Association</a>
												<h2>Need Amazon MWS handshaking</h2>
											</div>
											<div class="wt-description">
												<p>Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit inati voluptate velit esse cillum dolore eutates fugiat nulla pariatur sunt in culpa asequi officia deserunt mollit anim id est laborum ut perspiciatis...</p>
											</div>
											<div class="wt-tag wt-widgettag">
												<a href="javascript:void(0);">PHP</a>
												<a href="javascript:void(0);">HTML</a>
												<a href="javascript:void(0);">JQuery</a>
											</div>
										</div>
										<div class="wt-viewjobholder">
											<ul>
												<li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Professional</span></li>
												<li><span><em><img src="~/images/flag/img-05.png" alt="img description"></em>United Emirates</span></li>
												<li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: Per Hour</span></li>
												<li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: 03 Months</span></li>
												<li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: gy3yV2Vm5u</span></li>
												<li><a href="javascript:void(0);" class="wt-clicklike"><i class="fa fa-heart"></i> Click to Save</a></li>
												<li class="wt-btnarea"><a href="userlisting.html" class="wt-btn">View Job</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="wt-userlistinghold wt-userlistingholdvtwo">
									<div class="wt-userlistingcontent">
										<div class="wt-contenthead">
											<div class="wt-title">
												<a href="usersingle.html"><i class="fa fa-check-circle"></i> Traprator House</a>
												<h2>Form-Slider Plugin for Wordpress</h2>
											</div>
											<div class="wt-description">
												<p>Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit inati voluptate velit esse cillum dolore eutates fugiat nulla pariatur sunt in culpa asequi officia deserunt mollit anim id est laborum ut perspiciatis...</p>
											</div>
											<div class="wt-tag wt-widgettag">
												<a href="javascript:void(0);">PHP</a>
												<a href="javascript:void(0);">HTML</a>
												<a href="javascript:void(0);">JQuery</a>
											</div>
										</div>
										<div class="wt-viewjobholder">
											<ul>
												<li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Professional</span></li>
												<li><span><em><img src="~/images/flag/img-01.png" alt="img description"></em>United Emirates</span></li>
												<li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: Per Hour</span></li>
												<li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: 03 Months</span></li>
												<li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: gy3yV2Vm5u</span></li>
												<li><a href="javascript:void(0);" class="wt-clicklike"><i class="fa fa-heart"></i> Click to Save</a></li>
												<li class="wt-btnarea"><a href="userlisting.html" class="wt-btn">View Job</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="wt-userlistinghold wt-userlistingholdvtwo">
									<div class="wt-userlistingcontent">
										<div class="wt-contenthead">
											<div class="wt-title">
												<a href="usersingle.html">
													<i class="fa fa-check-circle"></i> Alfredo Bossard
												</a>
												<h2>Classifieds Posting, Data Entry, Typing</h2>
											</div>
											<div class="wt-description">
												<p>Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit inati voluptate velit esse cillum dolore eutates fugiat nulla pariatur sunt in culpa asequi officia deserunt mollit anim id est laborum ut perspiciatis...</p>
											</div>
											<div class="wt-tag wt-widgettag">
												<a href="javascript:void(0);">PHP</a>
												<a href="javascript:void(0);">HTML</a>
												<a href="javascript:void(0);">JQuery</a>
											</div>
										</div>
										<div class="wt-viewjobholder">
											<ul>
												<li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Intermediate</span></li>
												<li><span><em><img src="~/images/flag/img-03.png" alt="img description"></em>Canada</span></li>
												<li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: Per Fixed</span></li>
												<li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: 15 Days</span></li>
												<li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: bsf3NAxTMj</span></li>
												<li><a href="javascript:void(0);" class="wt-clicklike wt-clicksave"><i class="fa fa-heart"></i> Save</a></li>
												<li class="wt-btnarea"><a href="userlisting.html" class="wt-btn">View Job</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="wt-userlistinghold wt-userlistingholdvtwo">
									<div class="wt-userlistingcontent">
										<div class="wt-contenthead">
											<div class="wt-title">
												<a href="usersingle.html"><i class="fa fa-check-circle"></i> Web Revolutions</a>
												<h2>Develop a transportation company website</h2>
											</div>
											<div class="wt-description">
												<p>Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit inati voluptate velit esse cillum dolore eutates fugiat nulla pariatur sunt in culpa asequi officia deserunt mollit anim id est laborum ut perspiciatis...</p>
											</div>
											<div class="wt-tag wt-widgettag">
												<a href="javascript:void(0);">PHP</a>
												<a href="javascript:void(0);">HTML</a>
												<a href="javascript:void(0);">Team Management</a>
											</div>
										</div>
										<div class="wt-viewjobholder">
											<ul>
												<li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Professional</span></li>
												<li><span><em><img src="~/images/flag/img-02.png" alt="img description"></em>United States</span></li>
												<li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: Per Fixed</span></li>
												<li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: 15 Days</span></li>
												<li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: 5aUQgM2ZbW</span></li>
												<li><a href="javascript:void(0);" class="wt-clicklike"><i class="fa fa-heart"></i> Click to Save</a></li>
												<li class="wt-btnarea"><a href="userlisting.html" class="wt-btn">View Job</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="wt-userlistinghold wt-userlistingholdvtwo">
									<div class="wt-userlistingcontent">
										<div class="wt-contenthead">
											<div class="wt-title">
												<a href="usersingle.html">
													<i class="fa fa-check-circle"></i> Alfredo Bossard
												</a>
												<h2>Designer Finger Change temp to Arabic and install on alloi</h2>
											</div>
											<div class="wt-description">
												<p>Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit inati voluptate velit esse cillum dolore eutates fugiat nulla pariatur sunt in culpa asequi officia deserunt mollit anim id est laborum ut perspiciatis...</p>
											</div>
											<div class="wt-tag wt-widgettag">
												<a href="javascript:void(0);">PHP</a>
												<a href="javascript:void(0);">HTML</a>
												<a href="javascript:void(0);">JQuery</a>
											</div>
										</div>
										<div class="wt-viewjobholder">
											<ul>
												<li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Professional</span></li>
												<li><span><em><img src="~/images/flag/img-01.png" alt="img description"></em>United Emirates</span></li>
												<li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: Per Hour</span></li>
												<li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: 03 Months</span></li>
												<li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: gy3yV2Vm5u</span></li>
												<li><a href="javascript:void(0);"><i class="fa fa-heart"></i> Click to Save</a></li>
												<li class="wt-btnarea"><a href="userlisting.html" class="wt-btn">View Job</a></li>
											</ul>
										</div>
									</div>
								</div>
								<nav class="wt-pagination">
									<ul>
										<li class="wt-prevpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-left"></i></a></li>
										<li><a href="javascrip:void(0);">1</a></li>
										<li><a href="javascrip:void(0);">2</a></li>
										<li><a href="javascrip:void(0);">3</a></li>
										<li><a href="javascrip:void(0);">4</a></li>
										<li><a href="javascrip:void(0);">...</a></li>
										<li><a href="javascrip:void(0);">50</a></li>
										<li class="wt-nextpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-right"></i></a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- User Listing End-->
	</div>
</main>
<!--Main End-->
@section Scripts {
    <script src="~/js/services/publicpagingservices.js"></script>
}